:root{
    --primary-color: #2e2f2f;
    --secondary-color: #0b1d35;
    --secondary-color-rgb: 11, 29, 53;
    --text-color: #e8f1f2;
}
*{
    color: var(--text-color);
    font-family: Nunito;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary-color);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    height: 10vh;
}
nav > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 9vh;
    margin-left: 2.5rem;
}
#logo{
    font-size: 3rem;
}
#name{
    font-size: 1.8em;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 9vh;
    margin-right: 2.5rem;
    font-size: 1.5em;
}

.nav-button{
    text-decoration: none;
    position: relative;
    transition: 0.3 ease-in-out;
}
.nav-button::after{
    content: '';
    border-bottom: 2px solid #e8f1f2;
    width: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.nav-button:hover::after{
    width: 120%;
}

section{
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section > img{
    width: 24vw;
    height: auto;
    border-radius: 1rem;
    filter: grayscale(40%);
}

#main-section > h2{
    text-align: center;
}

#main-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 78vh;
    width: 40vw;
    background: rgba(var(--secondary-color-rgb), 0.1);
    border-radius: 3rem;
}

#main-section > h1{
    text-align: center;
    width: 30vw;
}


#main-section > a{
    font-size: 2em;
    padding: 1em;
    background: rgba(var(--secondary-color-rgb), 0.12);
    border-radius: 3rem;
    position: relative;
    text-decoration: none;
}

#main-section > a::after{
    content: '';
    border-bottom: 2px solid #e8f1f2;
    width: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

#main-section > a:hover::after{
    width: 80%;
}